.mainLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input {
  min-width: 300px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
